[submodule "oh-my-zsh"]
    path = oh-my-zsh
    url = git@github.com:robbyrussell/oh-my-zsh.git

[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git@github.com:wincent/command-t.git
[submodule "vim/bundle/delmitmate"]
	path = vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/pyflakes-vim"]
	path = vim/bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
